@model WrtmWebApp.Models.IndexViewModel
@{
    ViewBag.Title = "Account";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Account information</h4>
</div>
<table class="table">
    <tr>
        <th>
            Username
        </th>
        <th>
            eMail
        </th>
        <th>
            Role
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @ViewBag.Username
        </td>
        <td>
            @ViewBag.Email
        </td>
        <td>
            @ViewBag.Role
        </td>
    </tr>
</table>